{% extends 'layout.html' %}

{% block content %}
    <h1>Applicant Details</h1>
    <br><br>
    <table>
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        {% if applicant_full_name_and_phone_number %}
            {% for applicant in applicant_full_name_and_phone_number %}
                <tr>
                <td>{{ applicant.full_name }}</td>
                <td>{{ applicant.phone_number }}</td>
            {% endfor %}
        {% else %}
            {% for applicant in applicant_fullname_phonenumber_by_email %}
                <tr>
                <td>{{ applicant.full_name }}</td>
                <td>{{ applicant.phone_number }}</td>
            {% endfor %}
        {% endif %}

        </tr>
        </tbody>
    </table>
    {% include 'footer.html' %}
{% endblock %}


